[Unit]
Description=cam_encoder
After=cam_capture.target

[Service]
Type=simple
WorkingDirectory=/home/admin/pyUSBcam
ExecStart=bash cam_encoder.bash
TimeoutStopSec=5
StandardOutput=null

[Install]
WantedBy = multi-user.target
