[Unit]
Description=cam_capture
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/home/admin/pyUSBcam
ExecStart=bash cam_capture.sh
TimeoutStopSec=5
StandardOutput=null

[Install]
WantedBy = multi-user.target
