[Unit]
Description=pyUSBcam
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/home/admin/proj/pyUSBcam
ExecStart=sh pyUSBcamd.sh
TimeoutStopSec=5
StandardOutput=null

[Install]
WantedBy = multi-user.target
