[COMMON]
BPS=38400

[CLIENT]
PROJECT_ROOT=/Users/kikuchi/Projects/PycharmProjects/pyUSBcam
SERIAL_TX=/dev/serial0
# SERIAL_TX=/dev/cu.usbserial-A50176FG

[GSE]
NAME=Dome Fuji III Camera System
SERIAL_RX=/dev/cu.usbserial-A906UWWB
